
<style type="text/css">
    ul li, p{
        font-size:1.5em;
    }
    h2{
        font-size:5.5em;
    }
</style>
    <header id="features" class="features text-center">
        <div class="container">
            <div class="row">
                <br/><br/><br/>
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">$19/mo</h2>
                    <p>Appointify single pricing plan includes everything. Here's what you can do</p>
                    <ul>
                        <li>Add unlimited companies and branches</li>
                        <li>Add unlimited agents to companies</li>
                        <li>Each agent has its own availability</li>
                        <li>Users can schedule appointments</li>
                        <li>The backend panel allows you to control and see activity</li>
                        <li>Each agent has its own backend panel and gets notifications</li>
                        <li>Easy to integrate in your own website</li>
                        <li>Easy to use API</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-primary" href="/register">Subscribe Now</a>
            </div>
        </div>
    </header>
